<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.drarch.ui.categoty"
            class="org.drarch.ui.editor.wizard.Rules4JavaNewWizard"
            icon="icons/sample.gif"
            id="org.drarch.ui.editor.wizard.Rules4JavaNewWizard"
            name="Rule Wizard"/>
      <category
            id="org.drarch.ui.categoty"
            name="Drarch"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drarch.ui.editor.DrarchMultiPageEditor"
            contributorClass="org.drarch.ui.editor.DrarchMultiPageContributor"
            default="true"
            extensions="drarch"
            icon="icons/sample.gif"
            id="org.drarch.ui.editor"
            name="MultiPage Editor"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc/toc.xml"
            primary="true"/>
      <toc
            file="toc/tocoverview.xml"
            primary="false"/>
      <toc
            file="toc/tocgettingstarted.xml"
            primary="false"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="toc/contextFiles/editorHelpContext.xml"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
  		<view ratio="0.5" relative="org.eclipse.ui.views.TaskList" relationship="right" id="org.drarch.ui.view.SuggestsView" /> 
  	</perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.views">
      <category
            id="org.drarch.ui.view.category"
            name="Drarch Suggest View"
            />
      <view
            allowMultiple="false"
            category="org.drarch.ui.view.category"
            class="org.drarch.ui.view.DrarchSuggestsView"
            icon="icons/sample.gif"
            id="org.drarch.ui.view.DrarchSuggestsView"
            name="Drarch Suggest View"/>
   </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.drarch.ui.view.category"
            class="org.drarch.ui.view.wizards.NewDrarchProjectWizard"
            hasPages="true"
            icon="icons/sample.gif"
            id="org.drarch.ui.view.wizards.NewDrarchProjectWizard"
            name="New Drarch Project"
            project="true"/>
      <wizard
            category="org.drarch.ui.view.category"
            class="org.drarch.ui.view.wizards.NewDrarchPhaseWizard"
            icon="icons/sample.gif"
            id="org.drarch.ui.view.wizards.NewDrarchPhaseWizard"
            name="New Drarch Phase Wizard">
      </wizard>
   </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="org.design.drarch.popupDrarchPhaseContribution"
          nameFilter="*.drarchPhase"
          objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="org.drarch.phasePopUpMenu"
             label="Drarch"
             path="additions">
          <separator name="org.drarch.separator"/>
       </menu>
       <action
             class="org.drarch.ui.view.wizards.actions.StartPhaseAction"
             enablesFor="1"
             id="org.drarch.ui.action.popupPhaseAction"
             label="Execute Phase"
             menubarPath="org.drarch.phasePopUpMenu/org.drarch.separator"/>
    </objectContribution>
    <objectContribution
          adaptable="true"
          id="org.drarch.popupDrarchProjectContribution"
          nameFilter="*.drarchProject"
          objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="org.drarch.projectPopUpMenu"
             label="Drarch"
             path="additions">
          <separator name="org.drarch.separator"/>
       </menu>
       <action
             class="org.drarch.ui.view.wizards.actions.AddANewPhaseAction"
             enablesFor="1"
             id="org.design.drarch.ui.action.popupProjectAction"
             label="Add new phase"
             menubarPath="org.drarch.projectPopUpMenu/org.drarch.separator"/>
    </objectContribution>
     <objectContribution
          adaptable="false"
          id="org.design.drarch.objectContribution1"
          nameFilter="*.tracelog"
          objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="org.design.drarch.drarchMenu1"
             label="Drarch"
             path="additions">
          <separator name="generateLogFactsSeparator"/>
       </menu>
       <action
             class="org.drarch.ui.view.action.GenerateLogFacts"
             enablesFor="1"
             id="org.drarch.ui.view.action.GenerateLogFacts"
             label="Generate Log Facts"
             menubarPath="org.design.drarch.drarchMenu1/generateLogFactsSeparator"/>
    </objectContribution>
    <objectContribution
          adaptable="false"
          id="org.design.drarch.objectContributionFlabot"
          nameFilter="*.flabot"
          objectClass="org.eclipse.core.resources.IFile">
       <menu
             id="org.design.drarch.drarchMenu2"
             label="Drarch"
             path="additions">
          <separator name="loadCoreModelSeparator"/>
       </menu>
       <action
             class="org.drarch.ui.view.action.LoadCoreModel"
             id="org.drarch.ui.view.action.LoadCoreModel"
             label="Load Core Model"
             menubarPath="org.design.drarch.drarchMenu2/loadCoreModelSeparator"/>
    </objectContribution>
 </extension>
</plugin>
